{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="page-header mb-4">Newsletter</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <!--Newsletter form-->
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md-6">
                <div class="my-2">
                    <form method="POST" action="{% url 'newsletter' %}" class="form mb-3 ">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-right mt-3 mb-5 text-center">
                            <a class="btn btn-outline-black rounded-1" href="{% url 'home' %}">Cancel</a>
                            <button class="btn btn-black rounded-1" type="submit">Subscribe</button>
                        </div>
                    </form>

                </div>
            </div>
            <!--Newsletter text-->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="contact-details-container pt-0 pb-5 mb-5 mt-md-5">
                    <h4 class="page-header mb-4">Want to join us?..</h4>
                    <p class="about-text">Join our mailing list and we'll send you a monthly
                        newsletter so you can keep you up to date with all our latest news, products, 
                        sales, special offers and much more.
                    </p>
                    <hr>
                    <h6><em>*By submitting your details you agree to sign up to receive emails from FitSpace. 
                        We won't share your details with anyone and you can unsubscribe at any time.</em></h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
