<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Find by Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">Find by Category</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">Find by Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">See all Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Your Fitness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=equipment" class="dropdown-item">Equipment</a>
                <a href="{% url 'products' %}?category=nutrition" class="dropdown-item">Nutrition</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="health-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="health-link">
                <a href="{% url 'products' %}?category=personal_training" class="dropdown-item">Fitness</a>
                <a href="{% url 'products' %}?category=nutritionist" class="dropdown-item">Nutrition</a>
                <a href="{% url 'products' %}?category=self_care" class="dropdown-item">Recover</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                FitSpace
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'contact' %}"  class="dropdown-item">Message Us</a>
                <a href="http://www.facebook.com" target="blank" class="dropdown-item fa fa-facebook"></a>
                <a href="http://www.instagram.com" target="blank" class="dropdown-item fa fa-instagram"></a>
                <a href="http://www.tiktok.com" target="blank" class="dropdown-item fab fa-tiktok"></a>
            </div>
        </li>
    </ul>
</div>