{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-1">
            <h2 class="page-header mb-4">About Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <!--- About Us image --->
    <div class="container">
        <div class="row align-items-center my-4">
            <div class="col-12 col-md-6">
                <div class="my-4">
                    <img src="{{ MEDIA_URL }}aboutimage1.jpg" alt="3 women jogging" class="img-fluid">
                </div>
            </div>

            <!--- About Us text --->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="about-details-container mb-5 mt-md-5">
                    <p class="about-text">In 2015 we decided to make the improvement and maintenance of womens health
                        and wellbeing our mission.
                        FitSpace was created for those seeking to make a life change no matter what your situation.
                        We are a team of trusted personal trainers, nutritionists, physiotherapists, and instructors
                        dedicated to help you begin your journey - 
                        Starting with the clothing, equipment and classes we have available here on our website.
                        <h2 class="page-header mb-4">Our Goal..</h2>
                        Is to motivate all - No matter your fitness level we will try to help guide you to a
                        happier place. We believe the way to achieve this is with a healthy body, lifestyle and mind. We
                        want to help you build confidence, work together, create friendships with likeminded people, and keep each other
                        motivated while we find your strength.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}